* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
  font-family: 'Inter', system-ui, sans-serif;
}

.app {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

div,
p {
  padding: 20px 0;
}

img {
  display: block;
}
